In [7]:
import pandas as pd

In [8]:
df = pd.read_csv('data_test.csv', sep=';')
df

,id события,ФИО участника события 1,ФИО участника события 2
0,189,Галчевская Карина Владимировна,Белоновская Анастасия Семеновна
1,206,Офицеров Олег Романович,Сапожник Борис Валерьевич
2,445,Жандарова Лариса Германовна,Чемодуров Дамир Русланович
3,503,Масимова Яна Дамировна,Мингажетдинов Рамиль Семенович
4,571,Мухтарова Алена Яковлевна,Щербатенко Ольга Робертовна
...,...,...,...
4995,999333,Осташов Владимир Данилович,Чалов Илья Владимирович
4996,999360,Гандыбина Любовь Александровна,Мерлин Илья Юрьевич
4997,999403,Востоков Виктор Ильдарович,Аликас Никита Андреевич
4998,999405,Огарева Людмила Ильдаровна,Нагайцева Алина Степановна
4999,999878,Ряполовский Георгий Петрович,Жилейкин Виктор Павлович

In [17]:
from neo4j import GraphDatabase
from transliterate import translit


class App:

    def __init__(self, uri, user, password):
        self.driver = GraphDatabase.driver(uri, auth=(user, password))

    def close(self):
        self.driver.close()

        
    # Create event
    def create_event(self, person_name1, person_name2):
        with self.driver.session(database='neo4j') as session:
            result = session.execute_write(
                self._create_event, person_name1, person_name2)

    @staticmethod
    def _create_event(tx, person_name1, person_name2):
        query = (
            "CREATE (p1:Person { name: $person_name1 }) "
            "CREATE (p2:Person { name: $person_name2 }) "
            "CREATE (p1)-[:CONNECT]->(p2) "
            "RETURN p1, p2"
        )
        result = tx.run(query,
                        person_name1=person_name1,
                        person_name2=person_name2)
        return [{"p1": row["p1"]["name"], "p2": row["p2"]["name"]} for row in result]

    
    # Find connect partner
    def find_connect(self, person_name):
        with self.driver.session(database="neo4j") as session:
            result = session.execute_read(self._find_conn_return_person,
                                          person_name)
            if len(result) == 0:
                answer = {'name': 'Not exist'}
            for row in result:
                answer = [{'name': translit(row, language_code='ru', reversed=True)}]
            return answer

    @staticmethod
    def _find_conn_return_person(tx, person_name):
        query = (
            "MATCH (:Person {name: $person_name})-[:CONNECT]-(z:Person) "
            "RETURN z.name AS name"
        )
        result = tx.run(query, person_name=person_name)
        return [row["name"] for row in result]
    
    
    # Get all users
    def get_all(self):
        with self.driver.session(database="neo4j") as session:
            result = session.execute_read(self._get_all)
            return [{'name': row} for row in result]


    @staticmethod
    def _get_all(tx):
        query = (
            "MATCH (n:Person) "
            "RETURN n.name AS name"
        )
        result = tx.run(query)
        return [row["name"] for row in result]

In [20]:
uri = '#'
user = '#'
password = '#'

In [11]:
# Make connects

app = App(uri, user, password)
for i in range(len(df['id события'])):
    app.create_event(df['ФИО участника события 1'][i], 
                     df['ФИО участника события 2'][i])
app.close()

In [18]:
app = App(uri, user, password)
users = app.get_all()
app.close()